# Ignore cookie/session files
cookies.json

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore temporary system files
.DS_Store
Thumbs.db

# Ignore Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environment folders
env/
venv/
ENV/